<h3><button onclick="window.location.href = '/';">
    HOME
  </button>
  <button onclick="window.location.href = '/events';">
    BROWSE EVENTS
   </button> 
  <button onclick="window.location.href = '/users/register';">
    REGISTER
  </button>
  <button onclick="window.location.href = '/users/login';">
    LOGIN
  </button>
  <button onclick="window.location.href = '/users/logout';">
    LOGOUT
  </button>
  <button onclick="window.location.href = '/users';">
    USERS PROFILE
  </button>
</h4>