<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
 <center>

     <%- include('./partials/navbar') %>
 </center>  
   <center>
       <h1>WELCOME TO EVENTIX!<h1>
            <h2>CREATE YOUR OWN EVENT</h2>
            <h2>BUY EVENT TICKETS</h2>
   </center> 

</body>
</html>